div {
  height: 25vh;
  border: solid;
  margin: 1rem;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.35;
}

.target-1 > p {
  background-color: black;
  color: white;
}

.target-1 > p > span {
  color: red;
}
