div {
  height: 33vh;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.35;
}

.target-1 > p {
  background-color: black;
  color: white;
}

.target-1 > p > span {
  color: red;
}

.target-3 {
  --color: tom(4);
  background: red;
  background: var(--color);
}

@supports (not tom(4)) {
  .target-3 {
    --color: blue;
  }
  .target-3 > p {
    color: white;
  }
}
